<div class="container">
  
  <!-- <form (submit)="addUser()">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" name="newUser.first_name" [(ngModel)]="newUser.first_name" class="form-control">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="newUser.last_name" [(ngModel)]="newUser.last_name" class="form-control">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" name="newUser.email" [(ngModel)]="newUser.email" class="form-control">
    </div>
    <button>Submit</button>
  </form> -->


  <router-outlet></router-outlet>
</div>