<h1>Pet Shelter</h1>
<h4>Details about {{thePet.name}}</h4>
<a [routerLink]="['/pets/']">Home</a>
<table>
    <tbody>
        <tr>
            <th scope="row">Pet type:</th>
            <td>{{thePet.type}}</td>
        </tr>
        <tr>
            <th scope="row">Description:</th>
            <td>{{thePet.description}}</td>
        </tr>
        <tr>
            <th scope="row">Skills:</th>
            <td>{{thePet.skill1}}<br>{{thePet.skill2}}<br>{{thePet.skill3}}</td>
        </tr>
        <tr>
            <th scope="row">Likes:</th>
            <td>{{thePet.likes}}</td>
        </tr>
        <!-- <form (submit)="voteUp(thePet._id)">
            <button>VoteUp</button>
        </form> -->

        <button *ngIf="liked; else notLiked" class="btn btn-primary" disabled>VoteUp!</button>

        <ng-template #notLiked>
            <button (click)="voteUp(thePet._id)" class="btn btn-primary">VoteUp!</button>
        </ng-template>
        <button (click)="delete(thePet._id)" class="btn btn-primary">Adopt!</button>

    </tbody>
</table>